# SO / Editor
.DS_Store
Thumbs.db
*.log

# Python
__pycache__/
*.pyc
*.pyo
.venv/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Node / Web
node_modules/
dist/
build/

# Dados e artefatos
data/
models/
artifacts/
*.joblib
*.pkl

# Submódulo acidental
backend-IVerify/

backend-IVerify/
